<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="AllSuite" verbose="1" >
  <test name="DAO Unit Test" >
    <classes>
       <class name="res.cs.testng.UserDAOTest" />
       <class name="res.cs.testng.ItemDAOTest" />
       <class name="res.cs.testng.ReviewDAOTest" />
       <class name="res.cs.testng.StoreDAOTest" />
       <class name="res.cs.testng.PaymentDAOTest" />
       <class name="res.cs.testng.OrderDAOTest" /> 
    </classes>
  </test>
</suite>
