body {
	padding-top: 70px;
	background: #2BC0E4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Roboto', sans-serif;
}

.jumbotron {
	text-align: center;
	color: #2c3e50;
	background-color: #ecf0f1;
}

.navbar-inverse {
	background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.form-horizontal{
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: left;
	width: 50%;
	margin: 0 auto;
	padding: 50px 50px;
}

.btn-primary {
	margin-bottom: 30px;
}

.item-action, .item-operate{
	text-align: center;
}
#process{
	float: right;
	margin-bottom: 20px;
}
.img-thumbnail{
	margin: 0 auto;
}

.logout-content{
        background: #2c3e50;
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
}

.logout-page-button{
	padding-top: 30px;
	text-align: center;
}