body {
	padding-top: 70px;
	background: #2BC0E4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Roboto', sans-serif;
}

.jumbotron {
	text-align: center;
	color: #2c3e50;
	background-color: #ecf0f1;
	/*background-color: transparent !important;*/
	position: relative;
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
  	z-index: 2;
}

h1, h2, h3{
	margin-top: 10px;
}
ol, ul{
	margin-top: 10px;
}
.navbar-inverse {
	background-color: #2d2d30;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}
#navigation-panel ul{
    text-align: center;
    padding: 0px;
    zoom:1;
    border:1px solid red;
    overflow: hidden;
}

#navigation-panel li{
    padding: 2px;
    width: 150px;
    display:inline-block;
    font-size: 2rem;
}
footer {
	bottom: 0;
	width: 100%;
	margin-top: 30px;
	position: fixed;
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 2px;
}

footer a {
    color: #f5f5f5;
}

#items-list{
	width: 100%;
}
.form-horizontal{
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 50%;
	margin: 0 auto;
	padding: 50px 50px;
}

.col-sm-3 .col-sm-9{
	padding-left: 0px;
}

.form-group>.col-sm-3{
    padding-left: 0px;
}

.btn-primary{
	margin-bottom: 30px;
}
.item-action, .item-operate{
	text-align: center;
}
.orderOperation{
	float: right;
	text-align: right;
	display: inline-block;
}
.group-btn{
	float: right;
	margin-bottom: 20px;
}
.group-btn>.btn:nth-of-type(1){
	margin: 0 10px;
}

#review-button{
	margin-right: 15px;
	margin-bottom: 30px;
}
#text-left{
	padding-top: 50px;
}

.quote-text{
	margin: 20px 0px;
}

#process, #cancel{
	float: right;
	margin-bottom: 20px;
}

.img-thumbnail{
	margin: 0 auto;
}

.logout-content{
    background: #2c3e50;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.logout-page-button{
	padding-top: 30px;
	text-align: center;
}

#error-page {
    background: #2c3e50;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.price-details{
	padding-top: 15px;
}
.store-info{
	padding-bottom: 15px;
}

#price-summary{
	text-align: center; 
	margin-top: 50px; 
	background-color: green;
}
.receipt-summary{
	 width: 40%; 
	 padding: 5px;
}
.item-image{
	overflow: auto;
}

.allign-items-center{
	position: relative; 
	margin: 10px 0px;
	text-align: center;
}

#product-description{
	float: left;
	text-align: left;
}

#review-form{
	margin-top: 50px;
	width: 40%;
}
#past-review{
	margin-top: 50px;
	text-align: left;
	float: right;
}
#hidden{
	background-color: transparent !important;
}